.popup{
    position: fixed;
    background-color: #111827;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 1s ease-in;
}
.popup span{
  font-family: 'Inter-bold';
  color: white;
  font-size: 2rem;
  color: #ef4444;
  max-width: 80%;
  text-align: center;
}
.popup>div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boh{
  color: rgba(255, 255, 255, 0.692);
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1.25rem;
  max-width: 75%;
  text-align: center;
}
.popup>div>div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup>div>div>div{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.popup button{
  margin-top: 20px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Inter-bold';
  font-size: 1.25rem;
  width: 7.5em;
}
.yes{
  color: white;
  background-color: #fb1c1c;
  border-radius: 50px;
  border: 0;
}
.no{
  color: #FF0000;
  border: 0;
  border-radius: 50px;
}
.yes:hover{
  background-color: #00b728;
  color: white;  
  border-color: white;
}
.no:hover{
  background-color: #FF0000;
  color: white;  
  border-color: white;
}
.failure{
  font-family: 'Inter-bold';
  font-size: 1.25rem;
  color: #ffffff;
  margin-top: 20px;
}
.popup.display{
  visibility: hidden;
}
.popup img, .popup>div{
  transition: all 1s ease-in;
}
.popup.display img{
  transform: translateX(70vw);
}
.popup.display>div{
  transform: translateX(-70vw);
}

