@font-face {
  font-family: 'Inter';
  src: url('/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter-bold';
  src: url('/Inter-Bold.ttf');
}

html,
body {
  max-width: 100vw;
  display: flex;
  overflow-x: hidden;
  margin: 0;
  font-family: "Inter";
  background-color: #008FC7;
}
